<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBma8btEB7IvNz5tgVI21uu5NxodI7gwz4</string>
	<key>GCM_SENDER_ID</key>
	<string>45066048261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sneakerShopApp</string>
	<key>PROJECT_ID</key>
	<string>sneaker-shoes-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>sneaker-shoes-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45066048261:ios:2078f8c8addfb028875d6c</string>
</dict>
</plist>